{% extends 'Pages/Base.html' %} {% load static %} {% block link %}
<link rel="stylesheet" href="{% static 'single.css' %}" />
{% endblock link %} {% block body %}
<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-5">
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <img src="{% static 'opd.jpg' %}" class="card-img-top" alt="Image not available" />
        <div class="card-body">
          <h5 class="card-title">Dept Name</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vel consequuntur mollitia odio similique eligendi laboriosam voluptatum quaerat corrupti exercitationem?

          </p>
          <a href="#" class="btn btn-primary">Check</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
